nav
{
    background: linear-gradient(134.38deg, rgba(255, 255, 255, 0.5) 5.91%, rgba(255, 255, 255, 0.2) 74.73%);
    box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.253);
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    height: 7%;
    display: flex;
    padding: 1vw;
    align-items: center;
    justify-content: space-between;
}